* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
.nav-item{
    margin:4px
}

@font-face 
{
    font-family: 'GenYoGothic'; 
    src: url('../font/ttc/GenYoGothic-M.ttc') format('truetype');
}
@font-face 
{
    font-family: 'GenYoGothic-L'; 
    src: url('../font/ttc/GenYoGothic-L.ttc') format('truetype');
}
@font-face 
{
    font-family: 'GenYoGothic-R'; 
    src: url('../font/ttc/GenYoGothic-R.ttc') format('truetype');
}
@font-face {
    font-family: 'ChenYuluoyan-Thin';
    src: url('../font/ChenYuluoyan-Thin-Monospaced.ttf');
}


.navbar-brand,
  .nav-link {
    font-family: 'GenYoGothic', sans-serif; 
    font-size: 1.3rem; 
    font-weight: normal; 
}

.mainpage{
    display:grid;
    grid-template-columns:50% 50%;
    height: 100vh;
}



.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.icon{
    height: 3rem; 
    width: auto;
}

.navbar-items{
    display: flex; 
    align-items: center;
    gap: 5vw; 
  }

.icon-container {
    display: flex;
    align-items: center;
}
.icon2, .icon3 {
    height: 2rem; 
    width: auto;
    margin-right: 2vw;
}

.policy{
    font-family: 'GenYoGothic-L', sans-serif; 
    font-size: 10px;     
    font-weight: lighter; 
    display: flex; 
    align-items: center;
}

.petpals
{
    font-family: 'GenYoGothic-L', sans-serif; 
    font-size: 0.01rem; 
    font-weight: lighter;   
}

.aboutus_box {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutus {
    font-size: 3rem;
    color: #FFC533;  
    font-weight: bold;
}

.dogs_pic {
    position: absolute;
    top: 8vh;
    object-fit: cover;
    width: 100vw;
    height: 30vh;
    max-width: 100%;
    z-index: -1;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.welcome {
    width: 65vw;
    font-size: 5vw;
    color: #FFC533;
    text-align: center;
}

.introduction {
    width: 80vw;
    margin-top: 3vh;
}

.title {
    font-family: 'ChenYuluoyan-Thin';
}

.content {
    font-family: 'GenYoGothic-R';
    letter-spacing: 3px;
    line-height: 3vw;
    font-size: 1.5vw;
    color: #003466;
}

.member {
    font-family: 'ChenYuluoyan-Thin';
    font-size: 5vw;
    color: #003466;
    text-align: center;
}

.line {
    display: inline-block;
    position: relative;
  }

  .line::before,
  .line::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 30vw;
    height: 0.1vw;
    background-color: #FFC533;
  }

  .line::before {
    right: 100%;
    margin-right: 10px; 
  }

  .line::after {
    left: 100%;
    margin-left: 10px; 
  }

  .mem_pic {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'GenYoGothic', sans-serif;
    display: flex;
  }
    
  .member_pic {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    object-fit: cover;
    margin: 1.5vw;
   }
  .name {
    color: #003466;
    font-size: 2vw;
    font-family: 'GenYoGothic', sans-serif;
    letter-spacing: 0.5rem;
  }

  .job {
    color: #7f8a93;
    font-size: 1.5vw;
    font-family: 'GenYoGothic-L', sans-serif;
    letter-spacing: 0.5rem;
    padding: 1.5vw;
  }

  .email {
    color: #7f8a93;
    font-size: 1vw;
    font-family: 'GenYoGothic-L', sans-serif;
    letter-spacing: 0.01rem;
  }

  .image-container {
    width: 100%; 
    position: relative; 
    color: white; 
    padding-bottom: 5%;
    padding-top: 5%;
}

  .image-container img.yellow {
    width: 100%; 
    display: block; 
}

  .headtext {
    font-family: 'ChenYuluoyan';
    position: absolute;
    top: 20%; 
    left: 10vw;
    font-size: 5vw; 
    z-index: 2; 
   }

    .textb {
    position: absolute; 
    top: 45%; 
    left: 10vw; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

    .startext {
    display: flex;
    align-items: center;
    margin-bottom: 3vh; 
    }

    .star {
    width: 3vw; 
    height: 3vw;
    margin-right: 3vw; 
    }

    .text {
    font-family: 'GenYoGothic-L', sans-serif;
    color: white;
    font-size: 2vw;
    letter-spacing: 0.5vw;
    }